body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: "Roboto", sans-serif;
}

.navBar,
h1 {
  font-family: "Lora", serif;
}

.mainpagebody,
.bookpage {
  padding-top: 30px;
  margin: auto;
  width: 800px;
}

li {
  line-height: 1.5em;
  height: auto;
}

a {
  color: inherit;
}

@media only screen and (max-width: 600px) {
  .mainpagebody,
  .bookpage {
    width: 450px;
  }
}
